<div class="container" (scroll)="onScrollEvent($event)">

  <div class="row">

    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <p>
        The repository details page where we can find other contributors
      </p>
    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <div class="card" *ngIf="repositoryDetailsModelItem != undefined; else noContributorsInfo">


        <div class="card-header">Repository Details</div>


        <div class="card-footer">
          <div class="container">
            <h4>
              Login:
              <b>{{login}}</b>
            </h4>
            <p>Repository name:
              <b>{{id}}</b>
            </p>

            <p *ngIf="repositoryDetailsModelItem?.repoArrDetails != undefined && repositoryDetailsModelItem?.repoArrDetails.length > 0">Contributors: {{repositoryDetailsModelItem?.repoArrDetails.length}}</p>
            <ul *ngIf="repositoryDetailsModelItem != undefined &&  repositoryDetailsModelItem?.repoArrDetails != undefined && repositoryDetailsModelItem?.repoArrDetails.length > 0">
              <li *ngFor="let repo of repositoryDetailsModelItem?.repoArrDetails; let i = index" [routerLink]="['/contributors-details',repo.login]"
                style="cursor: pointer;">
                {{repo.login}}
              </li>
            </ul>

          </div>
        </div>


      </div>
    </div>

    <div class="col-sm-2">

    </div>

  </div>

  <ng-template #noContributorsInfo>
    <div class="no-contr-info">
      <p>Currently no contributors in service</p>
    </div>
  </ng-template>

</div>